#root {
  height: 100vh;
  display: grid;
  place-items: center;
  border: none;
}

.App {  
  max-width: 100%;
}
#display {
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  text-align: right;
  box-sizing: border-box;
}

button {
  background-color: #505055;
  color: white;
  width: 25%;
  height: 50px;
  font-size: 1.5em;
}

button:hover {
  opacity: 0.8;
}
